@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  li {
    list-style: none;
  }

  .scrollbar::-webkit-scrollbar {
    width: 8px;
    height: 10px;
  }
  .scrollbar::-webkit-scrollbar-track {
    @apply bg-tomato-darkest;
    border-radius: 100px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-tomato-regular;
    border-radius: 100vh;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-tomato-light;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    @apply hidden;
  }
}

@font-face {
  font-family: 'DinRound';
  font-style: normal;
  font-weight: 300;
  src: url('../public/fonts/din-round/DINRoundPro-Light.woff2');
}

@font-face {
  font-family: 'DinRound';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/din-round/DINRoundPro-Light.woff2');
}

@font-face {
  font-family: 'DinRound';
  font-style: normal;
  font-weight: 500;
  src: url('../public/fonts/din-round/DINRoundPro-Medium.woff2');
}

@font-face {
  font-family: 'DinRound';
  font-style: normal;
  font-weight: 700;
  src: url('../public/fonts/din-round/DINRoundPro-Bold.woff2');
}

@font-face {
  font-family: 'DinRound';
  font-style: normal;
  font-weight: 900;
  src: url('../public/fonts/din-round/DINRoundPro-Black.woff2');
}
